:root{
    --color-text: #000;
    --color-bg: #fff;
    --color-fg: #bebebe;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@font-face {
    font-family: "RobotoCondensed";
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    background-color: var(--color-bg);

}

html{
    scroll-behavior: smooth;
	overflow-x: hidden;
}

.content{
	position: relative;
	width: 100%;
	overflow: hidden;
}