:root{
    --yes: #fff;
    --color-gold: #c1b492;
}

@font-face {
    font-family: "RobotoCondensed";
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    background-color: fff;
}

html{
    scroll-behavior: smooth;
}

div.content{

}

div.section{
    display: flex;
}

div.s1{
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

div.s1-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 900px;
    height: 450px;
    padding: 15px;

    background-color: lightgrey;
}

div.s1-banner-title{
    margin: 0 15px 0 15px;
}

div.s1-banner-fumo {
    padding: 0 15px 0 20px;
    background-color: #fff;
    margin: 0;
}

div.s1-navbar{
    display: flex;
    justify-content: space-evenly;

    background-color: lightgrey;
    width: 900px;
    height: 35px;
    padding: 15px;

    margin-top: 24px;

}

span.s1-navbar-btn__wrapper{
    height: 35px;
    padding: 0 5px 0 5px;
    }

a.s1-navbar-btn__link{
    font-size: 18px;
    text-decoration: none;
    color: black;
    letter-spacing: 2.5px;
    line-height: 35px;
}

a.s1-navbar-btn__link:hover{
    color: #666;
    transition: 0.3s;
}


div.s2{
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #bebebe;
}

div.s3{
    height: 100vh;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.s3-socials{

    font-size: 12px;
}

text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    letter-spacing: 2.5px;
    text-align: center;
}


.header{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-weight: normal;
    font-size: 64px;
    letter-spacing: 15px;
    margin: 0;
    color: #000;
}

h2{
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 2.5px;
    margin: 0;
    color: #000;
}

.fumo{
    color: #000
}