

div.section{
    display: flex;
}


/* front */
div.front{
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

div.front-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 900px;
    height: 450px;
    padding: 15px;

    background-color: var(--color-fg);
}

div.front-banner-title{
    margin: 0 15px 0 15px;
}

div.front-banner-fumo {
    padding: 0 15px 0 20px;
    background-color: #fff;
    margin: 0;
}

div.front-navbar{
    display: flex;
    justify-content: space-evenly;

    background-color: var(--color-fg);
    width: 900px;
    height: 35px;
    padding: 15px;

    margin-top: 24px;

}


span.front-navbar-btn__wrapper{
    height: 35px;
    padding: 0 5px 0 5px;
}

a.front-navbar-btn__link{
    font-size: 18px;
    text-decoration: none;
    color: var(--color-text);
    letter-spacing: 2.5px;
    line-height: 35px;
}

a.front-navbar-btn__link:hover{
    color: #d2738a;
    transition: 0.3s;
}

.front-banner_text{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: var(--color-text);
    text-align: center;
}


div.aboutme{
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    background-color: var(--color-fg);

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    padding: 16px;
}

div.aboutme-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 15px;
}

text.aboutme-body__text{
    color: var(--color-text);
}


div.projects{
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    background-color: var(--color-bg);

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    padding: 16px;
}

div.projects-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 15px;
}

text.projects-body__text{
    color: var(--color-text);
}


div.journal{
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    background-color: var(--color-fg);

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    padding: 16px;
}

div.journal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 15px;
}

text.journal-body__text{
    color: var(--color-text);
}


div.ft{
    height: 10vh;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}


div.ft-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

div.ft-socials-links{
    display: flex;
}

a.ft-socials-links__link{
    font-size: 12px;
    text-decoration: none;
    color: #000;
    margin: 0 2px 0 2px
}
a.ft-socials-links__link:hover{
    color: var(--color-text);
}

text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    letter-spacing: 2.5px;
    text-align: center;
}

h1{
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 24px;

}

h2{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 4.2px;
}
h3{
    font-weight: normal;
    font-size: 42px;
    line-height: 15px;
    letter-spacing: 10px;
}

.fumo{
    color: #000
}